name: Python PEP8 Check
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install pycodestyle
        run: pip install pycodestyle
      - name: Run pycodestyle
        # Uruchamiamy walidator z wykluczeniem venv i zliczaniem błędów [cite: 6, 15]
        run: pycodestyle --exclude=.venv --count .